{% extends "king_admin/table_index.html" %}
{% load tags %}
{% block css %}
<link rel="stylesheet" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block  body_content %}

    <div class="container" style="padding-top: 50px;">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading" style="background: #79aec8; color: white;">
                  <h3 class="panel-title"></h3>
                </div>
                <div class="panel-body">

                    {# 过滤内容 #}
                <form>
                    <div class="row">
                        {% for condition in col_obj.list_filters %}
                            <div class="col-lg-2">
                                <span>{{ condition }}</span>
                                {% render_filter_ele condition col_obj filter_conditions %}
                            </div>
                        {% endfor %}
                        <input style="margin-top: 19px;" type="submit" class="btn btn-success" value="过滤" />

                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-lg-6">
                            <div class="input-group">
                                <input type="text" class="form-control" name="_query" placeholder="Search for {% for item in col_obj.search_fields %} {{ item }}{% endfor %}"
                                       value="{{ query_content }}">
                                <span class="input-group-btn">
                                    <input type="submit" class="btn btn-success" value="检索" />
                                </span>
                            </div>
                        </div>
                    </div>
                </form>


                    {# 动态表格内容 #}
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                {% for column in col_obj.list_display %}
                                    {% build_table_header_orderby_column column orderby_key filter_conditions %}

                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
{#                            {% get_query_sets col_obj as query_sets %}#}
                            {% for item in contacts.object_list %}
                                <tr>
                                    {% build_table_row item col_obj %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    {# 分页内容 #}
                    <div class="pagination">
                        <nav aria-label="...">
                            <ul class="pagination">
                                <li>
                                    <span aria-hidden="true">共{{ contacts.paginator.num_pages }}页</span>
                                </li>
                                {# 首页区 #}
                                {% if contacts.has_previous %}
                                    <li class=""><a href="{% render_page_top filter_conditions orderby_key %}" aria-label="Previous"><span aria-hidden="true">首页</span></a></li>
{#                                    <li class=""><a href="?page=1" aria-label="Previous"><span aria-hidden="true">首页</span></a></li>#}
                                    <li class=""><a href="{% render_page_previous_next contacts.previous_page_number filter_conditions orderby_key query_content %}" aria-label="Previous"><span aria-hidden="true">上一页</span></a></li>
                                {% else %}
                                    <li class="disabled"><span aria-hidden="true">首页</span></li>
                                    <li class="disabled"><span aria-hidden="true">上一页</span></li>
                                {% endif %}
    {##}
                                {# 中间页面区 #}
    {#                            <li class="active"><a href="#">{{ contacts.number }} <span class="sr-only">(current)</span></a></li>#}
    {##}
                                {% for page_counter in contacts.paginator.page_range %}
                                    {% render_page_ele page_counter contacts col_obj filter_conditions orderby_key %}
                                {% endfor %}

                                {# 尾页区 #}
                                {% if contacts.has_next %}
                                    <li><a href="{% render_page_previous_next contacts.next_page_number filter_conditions orderby_key query_content %}" aria-label="Next"><span aria-hidden="true">下一页</span></a></li>
                                    <li><a href="{% render_page_bottom contacts filter_conditions orderby_key %}" aria-label="Next"><span aria-hidden="true">尾页</span></a></li>
{#                                    <li><a href="?page={{ contacts.paginator.num_pages }}" aria-label="Next"><span aria-hidden="true">尾页</span></a></li>#}
                                {% else %}
                                    <li class="disabled"><span aria-hidden="true">下一页</span></li>
                                    <li class="disabled"><span aria-hidden="true">尾页</span></li>
                                {% endif %}

                            </ul>
                       </nav>
                    </div>

                </div>
            </div>
        </div>

    </div>

{% endblock %}