{% extends "king_admin/table_index.html" %}
{% load tags %}
{% block css %}
    <link rel="stylesheet" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/king_admin_table_change.css">
{% endblock %}

{% block  body_content %}
<div class="container" style="padding-top: 50px;">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading" style="background: #79aec8; color: white;">
                    <h3 class="panel-title">{% build_titile_ele app_name admin_class %}</h3>
                </div>
                <div class="panel-body">
                {% block dml %}
                    <p>Change {% render_app_name admin_class %}</p>
                {% endblock %}
                    <form class="form-horizontal" method="post" onsubmit="return but_commit();">
                        <span style="color: red;">{{ form_obj.errors.as_text }}</span>
                        {% csrf_token %}
                        {% for field in form_obj %}
                        <div class="form-group">

                            <label class="col-sm-2 control-label" style="font-weight: normal;">
                                {% if field.field.required %}
                                    <b>{{ field.label }}</b>
                                    <i style="color: #F00;">*</i>
                                {% else %}
                                    {{ field.label }}
                                {% endif %}
                            </label>
                        {% if field.name in admin_class.filter_horizontal %}
                            <div class="col-sm-10">
                            {% build_candidate_selected admin_class field form_obj as candidate_selected %}
                            {% build_selected field form_obj  as selected_obj %}
                                <div class="col-sm-4">
                                    <select class="field_multiple_css" multiple="multiple" id="id_{{ field.name }}_from">
                                        {% for can_item in candidate_selected %}
                                            <option value="{{ can_item.id }}" ondblclick="move_ele_id(this, 'id_{{ field.name }}_from', 'id_{{ field.name }}_to')">{{ can_item }}</option>
                                        {% endfor %}
                                    </select>

                                    <a>Choose all</a>
                                </div>
                                <ul class="selector-chooser">
                                    <li><a title="Choose" href="#" id="id_tags_add_link" class="selector-add"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
                                    <li><a title="Remove" href="#" id="id_tags_remove_link" class="selector-remove"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></li>
                                </ul>

                                <div class="col-sm-4">

                                    <select class="field_multiple_css" tag="chosen_list" multiple="multiple" name="{{ field.name }}" id="id_{{ field.name }}_to">
                                        {% for item in selected_obj %}
                                            <option value="{{ item.id }}" ondblclick="move_ele_id(this, 'id_{{ field.name }}_to', 'id_{{ field.name }}_from')">{{ item }}</option>
                                        {% endfor %}
                                    </select>
                                    <a>Remove all</a>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-sm-10">
                                {{ field }}
                            </div>
                        {% endif %}
                        </div>
                    {% endfor %}
                    <div class="submit-row">
                        <input type="submit" class="btn btn-info pull-right" value="保存" />
                    </div>

                    </form>
                </div>
            </div>
        </div>
</div>
<script>
    function move_ele_id(ele, from_id, to_id) {
        $(ele).attr('ondblclick', 'move_ele_id(this,' + "'" + to_id+"'," + "'" + from_id + "')");
        $(ele).appendTo('#' + to_id);
    }

    function but_commit() {
        $("select[tag='chosen_list'] option").each(function (){
            $(this).prop('selected', true);
        });
        return true;
    }

</script>
{% endblock %}