{% extends "king_admin/table_index.html" %}
{% load tags %}
{% block css %}
    <link rel="stylesheet" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/king_admin_table_change.css">
{% endblock %}

{% block  body_content %}
<div class="container" style="padding-top: 50px;">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading" style="background: #79aec8; color: white;">
                    <h3 class="panel-title">{% build_titile_ele app_name admin_class %} / {% get_del_recode_info recode_info %}</h3>
                </div>
                <div class="panel-body">
                {% block dml %}
                    <p>Change {% render_app_name admin_class %}</p>
                {% endblock %}
                {% block body_form %}
                    <form class="form-horizontal" method="post" onsubmit="return but_commit();">
                        <span style="color: red;">{{ form_obj.errors }}</span>
                        {% csrf_token %}
                        {% for field in form_obj %}
                        <div class="form-group">

                            <label class="col-sm-2 control-label" style="font-weight: normal;">
                                {% if field.field.required %}
                                    <b>{{ field.label }}</b>
                                    <i style="color: #F00;">*</i>
                                {% else %}
                                    {{ field.label }}
                                {% endif %}
                            </label>
                        <!-- 控制多选框的显示方式 -->
                        {% if field.name in admin_class.filter_horizontal %}
                            <div class="col-sm-10">
                            {% build_candidate_selected admin_class field form_obj as candidate_selected %}
                            {% build_selected field form_obj  as selected_obj %}

                            <!-- 左侧待选选择数据 -->
                                <div class="col-sm-4">
                                {% if field.name in admin_class.readonly_fields %}
                                    <select class="field_multiple_css" disabled tag="can_select_list" multiple="multiple" id="id_{{ field.name }}_from">
                                        {% for can_item in candidate_selected %}
                                            <option value="{{ can_item.id }}" disabled>{{ can_item }}</option>
                                        {% endfor %}
                                    </select>

                                    <p>Choose all</p>
                                {% else %}
                                    <select class="field_multiple_css" tag="can_select_list" multiple="multiple" id="id_{{ field.name }}_from">
                                        {% for can_item in candidate_selected %}
                                            <option value="{{ can_item.id }}" ondblclick="move_ele_id(this, 'id_{{ field.name }}_from', 'id_{{ field.name }}_to')">{{ can_item }}</option>
                                        {% endfor %}
                                    </select>

                                    <a onclick="move_ele_all('id_{{ field.name }}_from', 'id_{{ field.name }}_to');">Choose all</a>
                                {% endif %}
                                </div>
                            <!-- 中间箭头 -->
                                <ul class="selector-chooser">
                                    <li>
                                        <a title="Choose" id="id_{{ field.name }}_add_link" class="selector-add" onclick="move_selector_link('id_{{ field.name }}_from', 'id_{{ field.name }}_to');">
                                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a title="Remove" id="id_{{ field.name }}_remove_link" class="selector-remove" onclick="move_selector_link('id_{{ field.name }}_to', 'id_{{ field.name }}_from');">
                                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            <!-- 右侧已经选择数据 -->
                                <div class="col-sm-4">

                                {% if field.name in admin_class.readonly_fields %}
                                    <select class="field_multiple_css" disabled tag="chosen_list" multiple="multiple" name="{{ field.name }}" id="id_{{ field.name }}_to">
                                        {% for item in selected_obj %}
                                            <option value="{{ item.id }}">{{ item }}</option>
                                        {% endfor %}
                                    </select>
                                    <p disabled>Remove all</p>
                                {% else %}
                                    <select class="field_multiple_css" tag="chosen_list" multiple="multiple" name="{{ field.name }}" id="id_{{ field.name }}_to">
                                        {% for item in selected_obj %}
                                            <option value="{{ item.id }}" ondblclick="move_ele_id(this, 'id_{{ field.name }}_to', 'id_{{ field.name }}_from')">{{ item }}</option>
                                        {% endfor %}
                                    </select>
                                    <a onclick="move_ele_all('id_{{ field.name }}_to', 'id_{{ field.name }}_from');">Remove all</a>
                                {% endif %}
                                </div>
                            </div>
                        {% else %}
                            <div class="col-sm-10">
                                {{ field }}
                            </div>
                        {% endif %}
                        </div>
                    {% endfor %}
                    <div class="submit-row">
                        {% if form_obj.instance.id %}
                        <p class="deletelink-box">
                            <a href="{% url 'table_obj_del' app_name table_name form_obj.instance.id %}" class="deletelink">删除</a>
                        </p>
                        {% endif %}
                        <input type="submit" class="btn btn-info pull-right" value="保存" />
                    </div>

                    </form>
                {% endblock %}
                </div>
            </div>
        </div>
</div>
<script>
    function move_ele_id(ele, from_id, to_id) {
        $(ele).attr('ondblclick', 'move_ele_id(this,' + "'" + to_id+"'," + "'" + from_id + "')");
        $(ele).appendTo('#' + to_id);
    }

    function but_commit() {
        $("select[tag='chosen_list'] option").each(function (){
            $(this).prop('selected', true);
        });
        // 去除禁止的标签，使用其值能正常传入后台
        $('div').find('[disabled="disabled"]').each(function(){
            $(this).attr('disabled', false);
        });
        return true;
    }

    function move_ele_all(from_id, to_id) {
        $("#" + from_id).find('option').each(function () {
            $(this).appendTo('#' + to_id);
        })
    }

    function move_selector_link(from_id, to_id) {
        $("#" + from_id).find('option').each(function () {
            if ($(this).prop('selected')){
                $(this).appendTo('#' + to_id);
            }
        })
    }




</script>
{% endblock %}