{% extends "king_admin/table_obj_change.html" %}
{% load tags %}

{% block body_content %}

<div class="container" style="padding-top: 50px;">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading" style="background: #79aec8; color: white;">
                    <h3 class="panel-title">{% build_titile_ele app_name admin_class %} / {% get_del_recode_info recode_obj %} / Delete</h3>
                </div>
                <div class="panel-body">
                    <p>确定要删除 <span style="color: red;">{% render_app_name admin_class %} -- {% get_del_recode_info recode_obj %}</span>
                        记录和下面与其关联的所有数据???
                    </p>

                    <!-- 获取对象及所有与其关联的数据 -->
                    {% print_admin_class recode_obj %}
                    <form method="post">
                        {% csrf_token %}
                        <div class="submit-row">
                            <input type="submit" class="btn btn-danger pull-left" value="删除" />
                            <a href="{% get_source_page request %}" class="cancel-link">返回修改</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>
{% endblock %}