{% extends "king_admin/table_index.html" %}
{% load tags %}
{% block css %}
<link rel="stylesheet" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/king_admin_table_change.css">
{% endblock %}

{% block  body_content %}

    <div class="container" style="padding-top: 50px;">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading" style="background: #79aec8; color: white;">
                  <h3 class="panel-title">{% build_titile_ele app_name admin_class %}
                      {% if not admin_class.readonly_table %}
                          <a class="pull-right" href="{{ request.path }}add/">ADD</a>
                      {% else %}
                          <span class="pull-right">只读表</span>
                      {% endif %}

                  </h3>
                </div>
                <div class="panel-body">

                    {# 过滤内容 #}
                <form>
                    <div class="row">
                    {% if admin_class.list_filters %}
                        {% for condition in admin_class.list_filters %}
                            <div class="col-lg-2">
                                <span>{{ condition }}</span>
                                {% render_filter_ele condition admin_class filter_conditions %}
                            </div>
                        {% endfor %}
                        <input style="margin-top: 19px;" type="submit" class="btn btn-success" value="过滤" />
                    {% endif %}
                    </div>
                    {% if admin_class.search_fields %}
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-lg-6">
                            <div class="input-group">
                                <input type="text" class="form-control" name="_query" placeholder="Search for {% for item in admin_class.search_fields %} {{ item }}{% endfor %}"
                                       value="{{ query_content }}">
                                <span class="input-group-btn">
                                    <input type="submit" class="btn btn-success" value="检索" />
                                </span>
                            </div>
                        </div>
                    </div>
                    {% endif %}

            </form>

                <!-- action 内容 -->
                <form method="post" >
                    {% csrf_token %}
                    <div class="actions">
                        <span>Action:</span>
                        <label>
                            <select name="action" required="">
                                <option value="0" selected="">---------</option>
                                {% build_action_ele admin_class %}
                            </select>
                        </label>
                        <input type="hidden" name="select_across" value="0" class="select-across">
                        <input  type="submit" class="btn btn-success" onclick="return GetAllCheckbox(this)" value="执行"/>
                    </div>
                </form>


                    {# 动态表格内容 #}
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th style="width: 10px;">
                                    <input type="checkbox" id="chose_all" onclick="ChoseAll(this); return">
                                </th>
                                {% for column in admin_class.list_display %}
                                    {% build_table_header_orderby_column column orderby_key filter_conditions query_content%}

                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
{#                            {% get_query_sets admin_class as query_sets %}#}
                            {% for item in contacts.object_list %}
                                <tr>
                                <td style="width: 10px;">
                                    <input type="checkbox" id="checkbox_id">
                                </td>
                                    {% build_table_row request item admin_class %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    {# 分页内容 #}
                    <div class="pagination">
                        <nav aria-label="...">
                            <ul class="pagination">
                                <li>
                                    <span aria-hidden="true">共{{ contacts.paginator.num_pages }}页</span>
                                </li>
                                {# 首页区 #}
                                {% if contacts.has_previous %}
                                    <li class=""><a href="{% render_page_top filter_conditions orderby_key %}" aria-label="Previous"><span aria-hidden="true">首页</span></a></li>
{#                                    <li class=""><a href="?page=1" aria-label="Previous"><span aria-hidden="true">首页</span></a></li>#}
                                    <li class=""><a href="{% render_page_previous_next contacts.previous_page_number filter_conditions orderby_key query_content %}" aria-label="Previous"><span aria-hidden="true">上一页</span></a></li>
                                {% else %}
                                    <li class="disabled"><span aria-hidden="true">首页</span></li>
                                    <li class="disabled"><span aria-hidden="true">上一页</span></li>
                                {% endif %}
    {##}
                                {# 中间页面区 #}
    {#                            <li class="active"><a href="#">{{ contacts.number }} <span class="sr-only">(current)</span></a></li>#}
    {##}
                                {% for page_counter in contacts.paginator.page_range %}
                                    {% render_page_ele page_counter contacts admin_class filter_conditions orderby_key query_content %}
                                {% endfor %}

                                {# 尾页区 #}
                                {% if contacts.has_next %}
                                    <li><a href="{% render_page_previous_next contacts.next_page_number filter_conditions orderby_key query_content %}" aria-label="Next"><span aria-hidden="true">下一页</span></a></li>
                                    <li><a href="{% render_page_bottom contacts filter_conditions orderby_key %}" aria-label="Next"><span aria-hidden="true">尾页</span></a></li>
{#                                    <li><a href="?page={{ contacts.paginator.num_pages }}" aria-label="Next"><span aria-hidden="true">尾页</span></a></li>#}
                                {% else %}
                                    <li class="disabled"><span aria-hidden="true">下一页</span></li>
                                    <li class="disabled"><span aria-hidden="true">尾页</span></li>
                                {% endif %}

                            </ul>
                       </nav>
                    </div>

                </div>
            </div>
        </div>

    </div>


    <script>

    function ChoseAll(self) {
        if($(self).prop('checked')){
            $('tbody input[type="checkbox"]').prop('checked', true)
        }else{
            $('tbody input[type="checkbox"]').prop('checked', false)
        }
    }

    function GetAllCheckbox(select_obj) {
        var recode_list = new Array();
        $('tbody input[type="checkbox"]').each(function(){
            if($(this).prop('checked')){
                // 使用下面这个会导致没有使用id 列时会报错
{#                recode_list.push($(this).parent().next().text());#}
                // 表格中的第一列都会有个 a 标签，链接中包含了id 的值，所以通过解析 链接来获取id值，这样不管id列有没有显示，都能正常处理数据
                link_id = $(this).parent().parent().find('a').attr('href');
                recode_list.push(link_id.split('/').slice(-2, -1));
            }
{#            else{#}
{#                alert('请选择记录!!!');#}
{#                return false;#}
{#            }#}
        });

        var action_fun = $('select[name="action"]').val();

{#        console.log(recode_list, action_fun);#}
        if(recode_list.length && action_fun != '0'){
            $('input[name="select_across"]').val(recode_list.toString());
            return true;
        }else{
            alert('请选择记录与操作动作!!!');
            return false;
        }

    }




    </script>

{% endblock %}