.field_multiple_css {
    width: 280px;
    border-radius: 4px;
    height: 300px!important;
}


.selector-chooser {
    float: left;
    width: 22px;
    background-color: #eee;
    border-radius: 10px;
    margin: 10em 5px 0 5px;
    padding: 0;
}

.selector-add {
    width: 16px;
    height: 16px;
    display: block;
    /*text-indent: -3000px;*/
    overflow: hidden;
    margin-left: 5px;
    cursor: default;
    opacity: 0.3;

}

.selector-remove{
    width: 16px;
    height: 16px;
    display: block;
    margin-left: 5px;
    /*text-indent: -3000px;*/
    overflow: hidden;
    cursor: default;
    opacity: 0.3;
}

.deletelink-box {
    float: left;
    margin: 0;
}


.deletelink-box a{
    color: white;
    text-decoration: none;
}

.deletelink-box a:hover{
    color: white;
    text-decoration: none;
}

.deletelink {
    display: block;
    background: #CC3434;
    border-radius: 4px;
    padding: 10px 15px;
    height: 34px;
    line-height: 15px;
    color: white;
}

.deletelink:hover {
    display: block;
    background: #ba2121;
    border-radius: 4px;
    padding: 10px 15px;
    height: 34px;
    line-height: 15px;
    color: white;
}
.cancel-link {
    display: inline-block;
    vertical-align: middle;
    height: 34px;
    line-height: 15px;
    background: #ddd;
    border-radius: 4px;
    padding: 10px 15px;
    color: black;
    margin: 0 0 0 10px;
}
.cancel-link:hover {
    display: inline-block;
    vertical-align: middle;
    height: 34px;
    line-height: 15px;
    background: #ccc;
    border-radius: 4px;
    padding: 10px 15px;
    color: black;
    margin: 0 0 0 10px;
}

.submit-row a:hover{
    color: black;
    text-decoration: none;
}

.actions label{
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    margin-top: 5px;
}

.actions {
    padding: 10px;
    background: #fff;
    border-top: none;
    border-bottom: none;
    line-height: 24px;
    color: #999;
}

select {
    margin: 2px 0;
    padding: 2px 3px;
    vertical-align: middle;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-weight: normal;
    font-size: 13px;
}
.actions select {
    vertical-align: top;
    height: 34px;
    background: none;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    padding: 0 0 0 4px;
    margin: 0;
    margin-left: 10px;
}

.actions .button {
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 -15px 20px -10px rgba(0, 0, 0, 0.15) inset;
    cursor: pointer;
    height: 24px;
    line-height: 1;
    padding: 4px 8px;
    margin: 0;
    color: #333;
}